.bg-book{
   
  background: #f4f4f9;
        background-size: cover;
        width: 100vw;
        height: 92vh;
}

.cardarea{
    display: flex; 
    justify-content:center ;
  }

  .card{
border: 2px solid #484848;
border-color:black ;
border-radius: 2px;
width: 429px;
height:470px;
border-radius: 8px;
justify-content:center ;
color:black;
background-color:#f4f4f9;
margin: 50px;


  }


  .cardimg{
    height: 220px;
    width: 380px;
    margin:10px;
    margin-top: -5px;
  }
  .cardbtn{
    margin-top: 10px;
    background-color:#484848;
    width: 130px;
    height: 50px;
    border-radius: 6px;
    font-size: 18px;
  }
  .cardbtm :hover{
    background-color: aquamarine;
  }
  .about{
    color: white;
    display: inline;
  }
  .book h2{
    color: white;
  }
  .desc{
   float: left;
  margin-left: 50px;
   width: 50%;
  }
  .descimg{
    float:right;
  }
  .descimg img{
    width: 500px;
    height: 1000px;
  }
  .imag{
    height: 15px;
    margin-left: -30px;
  }